.first-letter {
	background-color: #fff;
}

.second-color {
	background-color: #cccccc;
}

.container {
	margin: 0 auto;
	text-align: center;
}

p {
	display: block;
	margin-top: 0px;
	width: 20px;
	text-align: center;
	margin-left: 12px;
	height: 20px;
}

.board {
	display: inline-block;
	position: relative;
	top:50px;
	margin: 0 auto;
	width: 502px;
}

.black {
	width: 400px;
	height: 45px;
	outline: 1px solid black;
	margin: 0 auto;
	margin-top: 0px;
	font-size: 24px;
	line-height: 45px;
}

.black>div {
	float: left;
}

.white>div {
	float: left;
}

.white {
	width: 400px;
	height: 45px;
	outline: 1px solid black;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 24px;
	line-height: 45px;
}

#mainChessBoard {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-left: 50px ;
}

.click-coll {
	background-color: #fdf8a2;
}

#chessBoardLetters {
    width: 402px;
    height: 50px;
    clear: both;
    margin-left: 50px;
    background-color: #e1e1e1;
}

#chessBoardLetters1 {
    width: 402px;
    height: 50px;
    clear: both;
    margin-left: 50px;
    background-color: #e1e1e1;
}

#chessBoardNumbers {
    float: left;
    width: 50px;
    height: 400px;
    background-color: #e1e1e1;
    display: inline-block;
    margin-top: -400px;
}

#chessBoardNumbers1 {
    float: right;
    width: 50px;
    height: 400px;
    background-color: #e1e1e1;
    display: inline-block;
}

#chessBoardLetters > div,
#mainChessBoard > div,
#chessBoardNumbers > div {
    width: 50px;
    height: 50px;
    float: left;
    display: inline-block;
    line-height: 50px;
    font-size: 1.6em;
}	

#chessBoardLetters1 > div {
	width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 1.6em;
}

#chessBoardNumbers1 > div {
	width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.6em;
}

.status {
	width: 100px;
	height: 40px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	outline: 1px solid black;
	line-height: 40px;
	color: #a00000;
	font-size: 24px;
	
}

#marker {
	width: 50px;
	height: 50px;
	background-color: #fdf8a2;
	right: 51px;
	z-index: 0;

}

.res2 {
	margin-top: 80px;
}

.res1 {
	margin-top: 20px;
}